:root{
  --bg:#000;
  --panel:#070707;
  --panel2:#0b0b0b;
  --border:#2a2a2a;

  --text:#d0d0d0;
  --muted:#9a9a9a;

  --ok:#30d158;
  --bad:#ff453a;
  --warn:#ffd60a;

  --radius:14px;
}

*{box-sizing:border-box;}
body{margin:0;background:var(--bg);color:var(--text);font-family:Roboto,system-ui,Arial;}
h1,h2,h3{font-family:Montserrat,system-ui,Arial;margin:0;}
input,select,button{font:inherit;}
