alter table public.panol_envios drop constraint if exists panol_envios_origen_check; alter table public.panol_envios add constraint panol_envios_origen_check check (origen in ('compra','manual','remito','obra_matriz'));
